@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: white;
    color: #000;
    border-radius: 15px;
    padding: 2px;
}
.dancing-script-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
